<div class="body">
  <div class="container">
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Change your password</h3>
          </div>

          <div class="panel-body">

            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :role => "form" }) do |f| %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group">
                <%= f.label :password, "New password", :class => "control-label" %>
                <div class="controls">
                  <%= f.password_field :password, :class => "form-control", :autofocus => true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm new password", :class => "control-label" %>
                <div class="controls">
                  <%= f.password_field :password_confirmation, :class => "form-control" %>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <%= f.submit "Change my password", :class => "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
