<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="add-new-business-rule">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-add-new-business-rule" aria-expanded="false" aria-controls="collapse-add-new-business-rule">
        <i class="fa fa-plus"></i>
        Add New Business Rule Template
      </a>
    </h4>
  </div>
  <div id="collapse-add-new-business-rule" class="panel-collapse collapse" role="tabpanel" aria-labelledby="add-new-rule">
    <div class="panel-body">
      <%= form_tag rules_admin_groups_path, class: "form-horizontal" do %>
        <input type="hidden" name="rule[rule_type]" value="business" />
        <input type="hidden" name="rule[message]" value="" />
        <input type="hidden" name="rule[patterns]" value="" />
        <input type="hidden" name="rule[quarantine]" value="" />
        <input type="hidden" name="rule[send_author]" value="" />
        <input type="hidden" name="rule[send_admins]" value="" />
        <input type="hidden" name="rule[phishing]" value="" />
        <input type="hidden" name="rule[send_phishing_admins]" value="" />
        <input type="hidden" name="rule[fraud]" value="" />
        <input type="hidden" name="rule[send_fraud_admins]" value="" />
        <input type="hidden" name="rule[include_post_content]" value="" />
        <input type="hidden" name="rule[include_restore_link]" value="" />
        <div class="form-group">
          <label class="col-sm-3 control-label">Rule Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="rule[name]" placeholder="A name for the rule" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Descriprion</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="rule[description]" rows="3" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-primary">Create Rule Template</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
