<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="add-new-business-account">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-add-new-business-account" aria-expanded="false" aria-controls="collapse-add-new-business-account">
        <i class="fa fa-plus"></i>
        Add New Business Account
      </a>
    </h4>
  </div>
  <div id="collapse-add-new-business-account" class="panel-collapse collapse" role="tabpanel" aria-labelledby="add-new-business-account">
    <div class="panel-body">
      <%= form_tag "", class: "form-horizontal" do %>
        <div class="form-group">
          <label class="col-sm-3 control-label">Account Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="group[name]" placeholder="Name of business or entity" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Max # Users</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" name="group[max_users]" required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Custom Domain</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="group[domain]" placeholder="www.example.com" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Options</label>
          <div class="col-sm-8">
            <div class="checkbox">
              <label>
                <input type="hidden" name="group[phishing]" value="off" />
                <input type="checkbox" name="group[phishing]"> Enable Phishing Features
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="hidden" name="group[fraud]" value="off" />
                <input type="checkbox" name="group[fraud]"> Enable Fraud Features
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Admin Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="group_admin[invite_email]" placeholder="Email address for the first admin of this account" required>
            <p class="help-block">We send the invite for managing the account here</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Admin Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="group_admin[invite_first_name]" placeholder="First Name" required>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="group_admin[invite_last_name]" placeholder="Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-primary">Create Account and Send Invite</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
