<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Description</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @business_rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= truncate(rule.description, length: 100) %></td>
        <td><%= rule.created_at.to_date %></td>
        <td>
          <a href="#" class="edit-business-rule-icon" data-rule-id="<%= rule.id %>" data-rule-name="<%= rule.name %>" data-rule-message="<%= rule.message %>" data-rule-description="<%= rule.description %>">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
