<div class="clearfix lead">
  <div class="col-xs-12">
    <div class="pull-left">
      <h3>
        <a href="<%= admin_group_path(@group) %>"><i class="fa fa-home"></i></a>
        <%= @group.description %> - <%= location %>
    </h3>
    </div>
    <div class="pull-right">
      <% unless @group.top_level? %>
        <h3>Account: <%= @group.parent.name %></h3>
      <% end %>
    </div>
  </div>
</div>
