<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="add-new-<%= role %>-account">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
         href="#collapse-add-new-<%= role %>-account"
         aria-expanded="false" aria-controls="collapse-add-new-<%= role %>-account">
        <i class="fa fa-plus"></i>
        Add New <%= role.titleize %>
      </a>
    </h4>
  </div>
  <div id="collapse-add-new-<%= role %>-account" class="panel-collapse collapse" role="tabpanel" aria-labelledby="add-new-<%= role %>-account">
    <div class="panel-body">
      <%= form_tag "", class: "form-horizontal" do %>
        <input type="hidden" name="role" value="<%= role %>">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= role.titleize %> Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="group_member[invite_email]" placeholder="Email address for the new <%= role.titleize %>" required>
            <p class="help-block">We send the invite for signup here</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= role.titleize %> Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="group_member[invite_first_name]" placeholder="First Name" required>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="group_member[invite_last_name]" placeholder="Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-primary">Create Account and Send Invite</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
