<% uid = SecureRandom.uuid %>

<div class="panel panel-primary">
  <div class="panel-heading" role="tab" id="add-new-rule-<%= uid %>">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-add-new-rule-<%= uid %>" aria-expanded="false" aria-controls="collapse-add-new-rule">
        <i class="fa fa-plus"></i>
        Add New Business Rule
      </a>
    </h4>
  </div>
  <div id="collapse-add-new-rule-<%= uid %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="add-new-rule">
    <div class="panel-body">
      <%= form_tag rules_admin_group_path(@group.id), class: "form-horizontal" do %>
        <input type="hidden" class="form-control" name="rule[exception]" value="<%= ignore %>">
        <input type="hidden" class="form-control" name="rule[rule_type]" value="business">
        <div class="form-group">
          <label class="col-sm-3 control-label">Rule Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="rule[name]" placeholder="A name for the rule" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Alert Message</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="rule[message]" placeholder="The rule's alert message" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Descriprion</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="rule[description]" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Patterns</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="rule[patterns]" rows="6" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Alerts</label>
          <div class="col-sm-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rule[send_author]" checked> Alert the author of the post
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rule[send_admins]"> Alert the admins of the group
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rule[include_post_content]" checked> Include content of triggering posts in alerts
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Auto-deletion</label>
          <div class="col-sm-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rule[quarantine]"> Auto delete triggering posts on Twitter
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rule[include_restore_link]"> Include restore link in auto-delete notification
              </label>
            </div>
          </div>
        </div>

        <% if @group && @group.phishing %>
          <div class="form-group">
            <label class="col-sm-3 control-label">Anti-Phishing</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rule[phishing]"> Log possible phishing risk
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rule[send_phishing_admins]"> Notify anti-phishing manager
                </label>
              </div>
            </div>
          </div>
        <% end %>

        <% if @group && @group.fraud %>
          <div class="form-group">
            <label class="col-sm-3 control-label">Anti-Fraud</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rule[fraud]"> Log possible fraud risk
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="rule[send_fraud_admins]"> Notify anti-fraud manager
                </label>
              </div>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <button type="submit" class="btn btn-primary">Create Rule</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
