<tr>
  <td><%= rule.name %></td>
  <td><%= truncate(rule.description, length: 100) %></td>
  <td><%= rule.created_at.to_date %></td>
  <td><%= rule.patterns_count %></td>
  <td>
    <a href="#" class="edit-rule-icon"
                data-rule-id="<%= rule.id %>"
                data-rule-name="<%= rule.name %>"
                data-rule-message="<%= rule.message %>"
                data-rule-patterns="<%= rule.patterns %>"
                data-rule-description="<%= rule.description %>"
                data-rule-quarantine="<%= rule.quarantine %>"
                data-rule-send-author="<%= rule.send_author %>"
                data-rule-send-admins="<%= rule.send_admins %>"
                data-rule-phishing="<%= rule.phishing %>"
                data-rule-send-phishing-admins="<%= rule.send_phishing_admins %>"
                data-rule-fraud="<%= rule.fraud %>"
                data-rule-send-fraud-admins="<%= rule.send_fraud_admins %>"
                data-rule-include-restore-link="<%= rule.include_restore_link %>"
                data-rule-include-post-content="<%= rule.include_post_content %>">
      <i class="fa fa-edit"></i>
    </a>
  </td>
</tr>
