<%= form_tag sysrules_admin_group_path(@group.id), class: "form-horizontal" do %>
  <% @system_rules.each do |rule| %>
    <div class="system-rule">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="ajax-save sysrule-checkbox"
                 data-group-id=<%= @group.id %> data-system-rule-id=<%= rule.id %>
                 name="sysrules[<%= rule.id %>" <% if rule.sr_rule_id %>checked="checked"<% end %>/>
          <span>
            <strong><%= rule.name %></strong>
            <% if rule.sr_rule_id %>
              &nbsp;
              <a href="#" class="edit-system-rule-icon"
                          data-rule-id="<%= rule.sr_rule_id %>"
                          data-rule-message="<%= rule.sr_message.presence %>"
                          data-rule-quarantine="<%= rule.sr_quarantine.presence %>"
                          data-rule-send-author="<%= rule.sr_send_author.presence %>"
                          data-rule-send-admins="<%= rule.sr_send_admins.presence %>"
                          data-rule-phishing="<%= rule.sr_phishing %>"
                          data-rule-send-phishing-admins="<%= rule.sr_send_phishing_admins %>"
                          data-rule-fraud="<%= rule.sr_fraud %>"
                          data-rule-send-fraud-admins="<%= rule.sr_send_fraud_admins %>"
                          data-rule-include-restore-link="<%= rule.sr_include_restore_link %>"
                          data-rule-include-post-content="<%= rule.sr_include_post_content.presence %>">
                          <i class="fa fa-edit"></i></a>
            <% end %>
            <div>
              <em><%= truncate(rule.description, length: 200) %></em>
            </div>
          </span>
        </label>
      </div>
    </div>
  <% end %>
<% end %>
