<% if @top_level_groups.present? %>
  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr class="info">
        <th>Business Name</th>
        <th>Max # Users</th>
        <th>Created At</th>
        <th>Admins Count</th>
        <th>Users Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @top_level_groups.each do |tlg| %>
        <tr>
          <td><%= tlg.name %></td>
          <td><%= tlg.max_users %></td>
          <td><%= tlg.created_at.to_date %></td>
          <td><%= tlg.admins_count %></td>
          <td><%= tlg.users_count %></td>
          <td>
            <a href="#" class="edit-group-icon"
                        data-group-id="<%= tlg.id %>"
                        data-group-name="<%= tlg.name %>"
                        data-max-users="<%= tlg.max_users %>"
                        data-phishing="<%= tlg.phishing %>"
                        data-fraud="<%= tlg.fraud %>"
                        data-domain="<%= tlg.domain %>">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
