<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Email</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% (invited = by_role(@invited_members, role)).each do |invited| %>
      <tr>
        <td><%= invited.full_name %></td>
        <td><%= invited.invite_email %></td>
        <td>Invited</td>
      </tr>
    <% end %>
    <% (users = @users[role]).each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.created_at.to_date.to_s(:long) %></td>
      </tr>
    <% end %>
    <% if invited.empty? && users.empty? %>
      <tr>
        <td colspan="3" class="alert alert-warning text-center padded-1">
          No <%= role.pluralize.titleize %> are invited yet.
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
