<div class="container">
  <h3>System Administration</h3>
  <div class="sms-section">

    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#accounts" aria-controls="accounts" role="tab" data-toggle="tab">Accounts</a></li>
        <li role="presentation"><a href="#system" aria-controls="rules" role="tab" data-toggle="tab">Business Standard Rules</a></li>
        <li role="presentation"><a href="#business" aria-controls="business-rules" role="tab" data-toggle="tab">Business Rules Templates</a></li>
        <li role="presentation"><a href="#personal" aria-controls="rules" role="tab" data-toggle="tab">Personal Protection Rules</a></li>
        <li role="presentation"><a href="#career" aria-controls="rules" role="tab" data-toggle="tab">Career Protection Rules</a></li>
        <li role="presentation"><a href="#financial" aria-controls="rules" role="tab" data-toggle="tab">Financial Protection Rules</a></li>
      </ul>

      <br />

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade" id="accounts">
          <%= render 'top_level_groups' %>
          <%= render 'add_business_account' %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="system">
          <%= render 'rules_table', type: :system %>
          <%= render 'add_new_rule', type: :system %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="business">
          <%= render 'business_rules_table' %>
          <%= render 'add_new_business_rule' %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="personal">
          <%= render 'rules_table', type: :personal %>
          <%= render 'add_new_rule', type: :personal %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="career">
          <%= render 'rules_table', type: :career %>
          <%= render 'add_new_rule', type: :career %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="financial">
          <%= render 'rules_table', type: :financial %>
          <%= render 'add_new_rule', type: :financial %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-business-rule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag rules_admin_groups_path, class: "form-horizontal" do %>
        <input id="bs-rule-id" type="hidden" class="form-control" name="rule[id]" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Business Rule Template</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Rule Name</label>
            <div class="col-sm-8">
              <input id="bs-rule-name" type="text" class="form-control" name="rule[name]" placeholder="A name for the rule" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
              <textarea id="bs-rule-description" class="form-control" name="rule[description]" rows="3" required></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-rule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag rules_admin_groups_path, class: "form-horizontal" do %>
        <input id="rule-id" type="hidden" class="form-control" name="rule[id]" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit System Rule</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Rule Name</label>
            <div class="col-sm-8">
              <input id="rule-name" type="text" class="form-control" name="rule[name]" placeholder="A name for the rule" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Alert Message</label>
            <div class="col-sm-8">
              <input id="rule-message" type="text" class="form-control" name="rule[message]" placeholder="The rule's alert message" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
              <textarea id="rule-description" class="form-control" name="rule[description]" rows="3" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Patterns</label>
            <div class="col-sm-8">
              <textarea id="rule-patterns" class="form-control" name="rule[patterns]" rows="6" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Alerts</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="rule-send-author" type="checkbox" name="rule[send_author]"> Alert the author of the post
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-send-admins" type="checkbox" name="rule[send_admins]"> Alert the admins of the group
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-include-post-content" type="checkbox" name="rule[include_post_content]"> Include content of triggering posts in alerts
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Auto-deletion</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="rule-quarantine" type="checkbox" name="rule[quarantine]"> Auto delete triggering posts on Twitter
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-include-restore-link" type="checkbox" name="rule[include_restore_link]"> Include restore link in auto-delete notification
                </label>
              </div>
            </div>
          </div>

          <% if @group && @group.phishing %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Phishing</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="rule-phishing" type="checkbox" name="rule[phishing]"> Log possible phishing risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="rule-send-phishing-admins" type="checkbox" name="rule[send_phishing_admins]"> Notify anti-phishing manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>

          <% if @group && @group.fraud %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Fraud</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="rule-fraud" type="checkbox" name="rule[fraud]"> Log possible fraud risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="rule-send-fraud-admins" type="checkbox" name="rule[send_fraud_admins]"> Notify anti-fraud manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-group-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/admin/groups/:id", method: 'PATCH', id: "edit-group-form", class: "form-horizontal" do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Account</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Account Name</label>
            <div class="col-sm-8">
              <input id="group-name" type="text" class="form-control" name="group[name]" placeholder="Name of business or entity" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Max # Users</label>
            <div class="col-sm-8">
              <input id="group-max-users" type="number" class="form-control" name="group[max_users]" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Custom Domain</label>
            <div class="col-sm-8">
              <input id="group-domain" type="text" class="form-control" name="group[domain]" placeholder="www.example.com" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Options</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="hidden" name="group[phishing]" value="off" />
                  <input id="group-phishing" type="checkbox" name="group[phishing]"> Enable Phishing Features
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="hidden" name="group[fraud]" value="off" />
                  <input id="group-fraud" type="checkbox" name="group[fraud]"> Enable Fraud Features
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
