<div class="container">
  <%= render 'group_header', location: 'Settings' %>

  <%= form_for @group, url: "", html: { class: "form-horizontal" } do |f| %>
    <fieldset>
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <%= f.text_field :name, :class => 'form-control', :required => true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Alert Emails</label>
        <div class="col-sm-9">
          <%= f.text_area :alert_emails, :class => 'form-control', :placeholder => "Comma-separated list of emails" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Alert Phones</label>
        <div class="col-sm-9">
          <%= f.text_area :alert_phones, :class => 'form-control', :placeholder => "Comma-separated list of phones" %>
        </div>
      </div>

      <% if @group && @group.phishing %>

        <div class="form-group">
          <label class="col-sm-3 control-label">Phishing Admins Emails</label>
          <div class="col-sm-9">
            <%= f.text_area :phishing_alert_emails, :class => 'form-control', :placeholder => "Comma-separated list of phishing admins emails" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Phishing Admins Phones</label>
          <div class="col-sm-9">
            <%= f.text_area :phishing_alert_phones, :class => 'form-control', :placeholder => "Comma-separated list of phishing admins phones" %>
          </div>
        </div>

      <% end %>

      <% if @group && @group.fraud %>

        <div class="form-group">
          <label class="col-sm-3 control-label">Fraud Admins Emails</label>
          <div class="col-sm-9">
            <%= f.text_area :fraud_alert_emails, :class => 'form-control', :placeholder => "Comma-separated list of fraud admins emails" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Fraud Admins Phones</label>
          <div class="col-sm-9">
            <%= f.text_area :fraud_alert_phones, :class => 'form-control', :placeholder => "Comma-separated list of fraud admins phones" %>
          </div>
        </div>

      <% end %>

      <div class="form-group hidden">
        <label class="col-sm-3 control-label">Account Domain</label>
        <div class="col-sm-9">
          <%= f.text_field :domain, class: "form-control", placeholder: "www.example.com" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <label class="col-sm-3 control-label">Home Page Title</label>
        <div class="col-sm-9">
          <%= f.text_field :title, class: "form-control", placeholder: "Page Title" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Home Page Description</label>
        <div class="col-sm-9">
          <%= f.text_field :description, class: "form-control", placeholder: "Page Description" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Layout Header</label>
        <div class="col-sm-9">
          <%= f.text_area :header, class: "form-control", placeholder: "The header above all content", rows: 6 %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Layout Footer</label>
        <div class="col-sm-9">
          <%= f.text_area :footer, class: "form-control", placeholder: "The footer below all content", rows: 3 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save changes</button>
          <a href="<%= admin_group_path(@group) %>" class="btn btn-default"><i class="fa fa-remove"></i> Cancel</a>
        </div>
      </div>
    </fieldset>
  <% end %>

</div>
