<%= stylesheet_link_tag "react/application", :media => "all" %>

<%= render 'group_header', location: 'Reports' %>

<div class="sms-section">

  <div id="report">
  </div>

  <br>
  <a href="<%= admin_group_path(@group) %>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
</div>

<% content_for :scripts do %>
  <script>var currentGroupId = <%= @group.id %>;</script>
  <%= javascript_include_tag "react/application"  %>
  <%= javascript_include_tag "report/application"  %>
<% end %>
