<div class="container">
  <%= render 'group_header', location: 'Rules' %>

  <div class="sms-section">

    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#system" aria-controls="sysrules" role="tab" data-toggle="tab">Standard Rules</a></li>
        <li role="presentation"><a href="#business" aria-controls="business-rules" role="tab" data-toggle="tab">Business Rules</a></li>
        <li role="presentation"><a href="#custom" aria-controls="rules" role="tab" data-toggle="tab">Custom Rules</a></li>
        <li role="ignore"><a href="#ignore" aria-controls="rules" role="tab" data-toggle="tab">Ignore Rules</a></li>
      </ul>

      <br />

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="system">
          <div class="well">
            <%= render 'system_rules' %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="business">
          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr class="info">
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Patterns Count</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'rule', collection: @business_rules %>
            </tbody>
          </table>
          <%= render 'new_business_rule_form', ignore: false %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="custom">
          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr class="info">
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Patterns Count</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'rule', collection: @custom_rules %>
            </tbody>
          </table>
          <%= render 'new_rule_form', ignore: false %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="ignore">
          <table class="table table-striped table-condensed table-bordered">
            <thead>
              <tr class="info">
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Patterns Count</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'rule', collection: @exception_rules %>
            </tbody>
          </table>
          <%= render 'new_rule_form', ignore: true %>
        </div>

      </div>

    </div>
  </div>

  <a href="<%= admin_group_path(@group) %>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
</div>

<div class="modal fade" id="edit-rule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag rules_admin_group_path(@group.id), class: "form-horizontal" do %>
        <input id="rule-id" type="hidden" class="form-control" name="rule[id]" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Custom Rule</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Rule Name</label>
            <div class="col-sm-8">
              <input id="rule-name" type="text" class="form-control" name="rule[name]" placeholder="A name for the rule" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Alert Message</label>
            <div class="col-sm-8">
              <input id="rule-message" type="text" class="form-control" name="rule[message]" placeholder="The rule's alert message" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
              <textarea id="rule-description" class="form-control" name="rule[description]" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Patterns</label>
            <div class="col-sm-8">
              <textarea id="rule-patterns" class="form-control" name="rule[patterns]" rows="6" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Alerts</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="rule-send-author" type="checkbox" name="rule[send_author]"> Alert the author of the post
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-send-admins" type="checkbox" name="rule[send_admins]"> Alert the admins of the group
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-include-post-content" type="checkbox" name="rule[include_post_content]"> Include content of triggering posts in alerts
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Auto-deletion</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="rule-quarantine" type="checkbox" name="rule[quarantine]"> Auto delete triggering posts on Twitter
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="rule-include-restore-link" type="checkbox" name="rule[include_restore_link]"> Include restore link in auto-delete notification
                </label>
              </div>
            </div>
          </div>

          <% if @group && @group.phishing %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Phishing</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="rule-phishing" type="checkbox" name="rule[phishing]"> Log possible phishing risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="rule-send-phishing-admins" type="checkbox" name="rule[send_phishing_admins]"> Notify anti-phishing manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>

          <% if @group && @group.fraud %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Fraud</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="rule-fraud" type="checkbox" name="rule[fraud]"> Log possible fraud risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="rule-send-fraud-admins" type="checkbox" name="rule[send_fraud_admins]"> Notify anti-fraud manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-system-rule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag rules_admin_group_path(@group.id), class: "form-horizontal" do %>
        <input id="system-rule-id" type="hidden" class="form-control" name="rule[id]" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Configure Standard Rule</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Alert Message</label>
            <div class="col-sm-8">
              <input id="system-rule-message" type="text" class="form-control" name="rule[message]" placeholder="The rule's alert message" required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Alerts</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="system-rule-send-author" type="checkbox" name="rule[send_author]"> Alert the author of the post
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="system-rule-send-admins" type="checkbox" name="rule[send_admins]"> Alert the admins of the group
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="system-rule-include-post-content" type="checkbox" name="rule[include_post_content]"> Include content of triggering posts in alerts
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Auto-deletion</label>
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input id="system-rule-quarantine" type="checkbox" name="rule[quarantine]"> Auto delete triggering posts on Twitter
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="system-rule-include-restore-link" type="checkbox" name="rule[include_restore_link"> Include restore link in auto-delete notification
                </label>
              </div>
            </div>
          </div>

          <% if @group && @group.phishing %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Phishing</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="system-rule-phishing" type="checkbox" name="rule[phishing]"> Log possible phishing risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="system-rule-send-phishing-admins" type="checkbox" name="rule[send_phishing_admins]"> Notify anti-phishing manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>

          <% if @group && @group.fraud %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Anti-Fraud</label>
              <div class="col-sm-8">
                <div class="checkbox">
                  <label>
                    <input id="system-rule-fraud" type="checkbox" name="rule[fraud]"> Log possible fraud risk
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="system-rule-send-fraud-admins" type="checkbox" name="rule[send_fraud_admins]"> Notify anti-fraud manager
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
