<div class="container">

  <%= render 'group_header', location: 'Users' %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @group.top_level? ? "Main Group" : @group.name %></h3>
    </div>

    <div class="panel-body">
      <div class="row">

        <div class="col-sm-3 col-sm-offset-1">
          <div class="sms-section text-center">
            <div class="sms-btn-group" role="group">
              <div class="text-center">
                <a href="<%= users_admin_group_path(@group) %>" class="btn btn-primary btn-block">
                  <i class="fa fa-group"></i> Manage Users
                </a>
              </div>
              <div class="text-center">
                <a href="<%= rules_admin_group_path(@group) %>" class="btn btn-primary btn-block">
                  <i class="fa fa-gavel"></i> Manage Rules
                </a>
              </div>
              <div class="text-center">
                <a href="<%= reports_admin_group_path(@group) %>" class="btn btn-primary btn-block">
                  <i class="fa fa-flag"></i> View Reports
                </a>
              </div>
              <div class="text-center">
                <a href="<%= options_admin_group_path(@group) %>" class="btn btn-primary btn-block">
                  <i class="fa fa-cog"></i> Settings
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="dashboard" class="col-sm-6 col-sm-offset-1">
          <div class="list-group">
            <a href="<%= reports_admin_group_path(@group) %>" class="list-group-item p24 <%= @past_24h_class %>">
              <h3 class="pull-right"><i class="fa fa-bell"></i></h3>
              <h4 class="list-group-item-heading count"><%= @past_24h_alerts %></h4>
              <p class="list-group-item-text"><strong>Last 24 Hours Alerts</strong></p>
            </a>
          </div>
          <div href="<%= users_admin_group_path(@group) %>" class="list-group">
            <a class="list-group-item users">
              <h3 class="pull-right"> <i class="fa fa-user"></i> </h3>
              <h4 class="list-group-item-heading count"><%= @total_users %></h4>
              <p class="list-group-item-text">Total Users</p>
            </a>
            <a href="<%= reports_admin_group_path(@group) %>" class="list-group-item alerts">
              <h3 class="pull-right"> <i class="fa fa-bolt"></i> </h3>
              <h4 class="list-group-item-heading count"><%= @total_alerts %></h4>
              <p class="list-group-item-text">Total Alerts</p>
            </a>
            <div class="list-group-item facebook-like">
              <h3 class="pull-right"> <i class="fa fa-facebook-square"></i> </h3>
              <h4 class="list-group-item-heading count"><%= @total_facebook_accounts %></h4>
              <p class="list-group-item-text">Connected Facebook Accounts</p>
            </div>
            <div class="list-group-item twitter">
              <h3 class="pull-right"> <i class="fa fa-twitter-square"></i> </h3>
              <h4 class="list-group-item-heading count"><%= @total_twitter_accounts %></h4>
              <p class="list-group-item-text">Connected Twitter Accounts</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <% if @group.top_level? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sub Groups</h3>
      </div>

      <div class="panel-body">
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGroupModal">
            <i class="fa fa-plus"></i>
            Add New Sub Group
          </button>
        </div>
        <div class="col-sm-6">
          <% if @sub_groups.present? %>
            <%= collection_select(:group, :id, @sub_groups, :id, :name, { include_blank: 'Select a sub group to switch to' }, { class: "form-control" }) %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-sm-6">
      <a href="<%= admin_group_path(@group.parent_group_id) %>" class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
        Back to Main Group
      </a>
    </div>
  <% end %>
</div>


<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a New Group</h4>
      </div>
      <%= form_tag subgroup_admin_group_path(@group.id), class: "form-horizontal" do %>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-8">
              <input id="group-name" type="text" class="form-control" name="group[name]" placeholder="The name of the group" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create group</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
