<div class="container">
  <%= render 'group_header', location: 'Users' %>

  <div class="sms-section">

    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#user" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
        <li role="presentation"><a href="#admin" aria-controls="admins" role="tab" data-toggle="tab">Admins</a></li>
        <% if @group.phishing %>
          <li role="presentation"><a href="#phishing_manager" aria-controls="phishing" role="tab" data-toggle="tab">Phishing Managers</a></li>
        <% end %>
        <% if @group.fraud %>
          <li role="presentation"><a href="#fraud_manager" aria-controls="fraud" role="tab" data-toggle="tab">Fraud Managers</a></li>
        <% end %>
        <li role="presentation"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">Import from CSV</a></li>
      </ul>

      <br />

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="user">
          <%= render "users_list", role: 'user' %>
          <%= render "new_user_form", role: 'user' %>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="admin">
          <%= render "users_list", role: 'admin' %>
          <%= render "new_user_form", role: 'admin' %>
        </div>

        <% if @group.phishing %>
          <div role="tabpanel" class="tab-pane fade" id="phishing_manager">
            <%= render "users_list", role: 'phishing_manager' %>
            <%= render "new_user_form", role: 'phishing_manager' %>
          </div>
        <% end %>

        <% if @group.fraud %>
          <div role="tabpanel" class="tab-pane fade" id="fraud_manager">
            <%= render "users_list", role: 'fraud_manager' %>
            <%= render "new_user_form", role: 'fraud_manager' %>
          </div>
        <% end %>

        <div role="tabpanel" class="tab-pane fade" id="import">
          <div class="well well-lg clearfix">
            <h4>Import users and admins from CSV file or text</h4>
            <p class="help-block">
              Header row required
              <br>
              File will be parsed for "email", "first_name", "last_name", and "role"
              <br>
              Email is required
              <br>
              Role can be either "user" or "admin", the default is "user"
            </p>
            <br>
            <%= form_tag import_admin_group_path, class: "form-horizontal", multipart: true do %>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Upload File</label>
                <div class="col-sm-10">
                  <input type="file" name="import[source]" class="form-control" accept="text/plain,text/csv">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Or Paste Text</label>
                <div class="col-sm-10">
                  <textarea name="import[body]" class="form-control" rows="13" placeholder="first name, last name, email, role"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-mail-forward"></i>
                    Import Users
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <a href="<%= admin_group_path(@group) %>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
</div>
