<div class="body">
  <div class="container">
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>

          <div class="panel-body">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
              <div class="form-group">
                <%= f.label :email, :class => "control-label col-md-3" %>
                <div class="col-md-9">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-none">@</i></span>
                    <%= f.email_field :email, :autofocus => true, :class => "form-control", :required => true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, :class => "control-label col-md-3" %>
                <div class="col-md-9">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <%= f.password_field :password, :class => "form-control", :required => true %>
                </div></div>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <label class="col-md-3"></label>
                  <div class="col-md-9">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :remember_me %>
                        Remember me
                      </label>
                    </div>
                  </div>
                </div>
              <% end -%>

              <div class="form-group">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                  <%= f.submit "Login", :class => "btn btn-primary" %>
                </div>
              </div>
            <% end %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>

            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
            <% end -%>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
