<div id="pyre_homepage_media-widget-product-feat-1" class="widget home-widget">
  <div class="footer-highlight-home home-content-highlight">
    <h1 class="footer-highlight-widget">JOIN OUR MAILING LIST</h1>
    <div class="summary-text-pro">Stay in touch to receive the latest news and updates.</div>
    <div class="wpcf7">
      <form class="progression-contact" id="CommentForm" method="post" action="//securemysocial.us10.list-manage.com/subscribe/post?u=b24003ae5f5f69518999fb0fa&amp;id=668a22e322">
        <fieldset>
          <div>
            <p>
              <input type="text" id="ContactFirstName" name="FNAME" class="textInput" placeholder="First name" />
              <input type="text" id="ContactLastName" name="LNAME" class="textInput" placeholder="Last name" />
              <input type="email" id="ContactEmail" name="EMAIL" class="textInput email" placeholder="E-mail Adress" required />
            </p>
          </div>
          <div>
            <p><button type="submit" class="progression-contact-submit wpcf7-submit"><span>JOIN!</span></button></p>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
