<div id="widget-area">
  <div class="width-container footer-3-column">
    <div class="widget pyre_social_media-feat">
      <div class="social-icons-widget-pro">
        <img src="/tassets/logo.png" alt="Logo" class="logo-widget-pro">
        <div>SecureMySocial addresses the business, legal, regulatory, physical, and human risks of social media by warning people in real-time if they post problematic material so as to ensure immediate removal.</div>
        <div class="social-ico">
          <a href="https://www.facebook.com/SecureMySocial" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/securemysocial" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/securemysocial" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="mailto:info@securemysocial.com" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <% if @posts %>
      <div class="widget tw-recent-posts">
        <h5 class="widget-title">Recent Posts</h5>
        <div class="featured-posts textwidget">
          <div class="featured-post">
            <h4>
              <a href="<%= @posts[0].link %>" rel="bookmark"><%= @posts[0].title %></a>
            </h4>
            <div class="excerpt"> <%= truncate(strip_tags(@posts[0].description), length: 200) %></div>
            <div class="clear"></div>
          </div>
          <div class="featured-post">
            <h4>
              <a href="<%= @posts[2].link %>" rel="bookmark"><%= @posts[2].title %></a>
            </h4>
            <div class="excerpt"> <%= truncate(strip_tags(@posts[2].description), length: 200) %></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="widget tw-recent-posts2">
        <h5 class="widget-title"></h5>
        <div class="featured-posts textwidget">
          <div class="featured-post">
            <h4>
              <a href="<%= @posts[1].link %>" rel="bookmark"><%= @posts[1].title %></a>
            </h4>
            <div class="excerpt"> <%= truncate(strip_tags(@posts[1].description), length: 200) %></div>
            <div class="clear"></div>
          </div>
          <div class="featured-post">
            <h4>
              <a href="<%= @posts[3].link %>" rel="bookmark"><%= @posts[3].title %></a>
            </h4>
            <div class="excerpt"> <%= truncate(strip_tags(@posts[3].description), length: 200) %></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
