<div id="page-title">
  <div class="width-container">
    <h1>For Individuals</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main1">
  <div class="width-container">
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial helps people protect themselves from the personal and professional damage that can occur from problematic social media posts (made by themselves or by others referencing them) by providing real-time warnings as problematic material is posted so as to ensure immediate removal.</p>
          <p>Even privacy conscious users benefit from SecureMySocial, as even the most technologically-savvy users have friends, colleagues, and acquaintances with less sophistication who can tag them in posts and thereby cause serious problems. Problematic posts need not be offensive or negative in nature – tagging someone far from home in a public post may alert thieves that her house is empty and unguarded, tagging someone at a particular event could cause issues with a spouse, etc.</p>
          <p>By addressing the physical and human risks of social media – saving people from physical harm, reputational damage, legal issues, personal and professional challenges, and other problems – SecureMySocial offers protection not found in other products.
            SecureMySocial was designed by a team of psychologists, IT security gurus, and engineers, and takes less than ten seconds to activate.</p>
        </div>
        <div class="clearfix"></div>
      </article>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<%= render 'get_sms' %>
<%= render 'mailing_list' %>
<%= render 'social_footer' %>
