<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="">
  <%= @owner.first_name.presence || "Hello" %>,

  <% if @import.valid_users > 0 %>
    <p>We have successfully imported <strong><%= pluralize(@import.valid_users, "users") %></strong> into your SecureMySocial account</p>
  <% else %>
    <p>We were not able to find any contacts in your recent SecureMySocial import</p>
  <% end %>
</div>
</body>
</html>
