<div id="page-title">
  <div class="width-container">
    <h1>ABOUT SECUREMYSOCIAL</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main">
  <div class="width-container">
    <div id="full-width-progression">
      <div id="content-container">
        <div class="content-container-pro">
          <div class="ls-sc-grid_12 alpha">
            SecureMySocial addresses the business, legal, regulatory, physical, and human risks of social media by warning people in real-time if they post problematic material so as to ensure immediate removal. SecureMySocial can also auto-delete such posts if so authorized.
            <br /><br>
            Problematic posts need not be "negative" sounding – comments about a competing product, postings that someone is out of town, and other seemingly innocuous posts can yield catastrophic results.
            Likewise, people oversharing on social media can lead to data leaks, or to criminals launching effective spear phishing campaigns and breaching a business’s computer systems. <br><br>
            SecureMySocial uses patent-pending technology to scan as its subscribers (or in the case of business accounts, its subscribers' employees) use social media,
            and warns them in real-time of activity that may expose them – or their employers – to real-world physical, financial, professional, and/or personal harm.
            The system is simple to use and so non-intrusive that most people won't even know that it is running — except when a problem arises that they certainly want to know about. <br /><br>
            SecureMySocial was designed by a team with backgrounds in psychology, cybersecurity, and engineering, and takes less than ten seconds to activate.
            Most people – even those who think they know better – post things on social media that can come back to bite them.
            Their friends and contacts may also tag them in posts that can cause issues. That's why running SecureMySocial is so important.
          </div>
          <div class="clear"></div>
          </br>

        </div><!-- close .content-container-pro -->
      </div>
      <div class="clearfix"></div>
    </div>
  </div><!-- close .width-container -->

  <div class="clearfix"></div>
</div>

<%= render 'get_sms' %>

<%= render 'social_footer' %>
