<div id="page-title">
  <div class="width-container">
    <h1>For Businesses</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main1">
  <div class="width-container">
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial protects businesses from the potentially catastrophic consequences of problematic material posted to social media. SecureMySocial provides real-time warnings to employees if they or their contacts post such items on social media sites such as Facebook and Twitter. SecureMySocial's facilitation of quick removal both contains damage and helps shield a firm in case of lawsuits or regulatory investigations.</p>
          <h4 class="category-heading-pro">Benefits</h4>
          <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media. The system is so simple to use that most users will never have any questions, and will never even notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that they have this tool.</p>                    <h4 class="category-heading-pro">
            <h4>Easy to Use</h4>
            <p>A business activates a set of social media security rules (which can be customized). For example: Scan for various internal keywords, product line names, employee names, competitor names, project names, ticker symbols, or intellectual property terms. It can also turn on general rules such as scan for vulgarities, racist language, credit card numbers, or links to fake news.</p>
            <p>The company sends a link to the employee with instructions to opt-in and activate.</p>
            <p>Activation takes less than 10 seconds.</p>
            <p>SecureMySocial then informs employees using social media in real time if they (or others tagging them) are violating such rules.</p>
            <p>Employees can optionally activate other rules to keep themselves even safer.</p>
            <h4 class="category-heading-pro">Technology</h4>
            <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media.</p>
            <p>The system is so simple to use that most employees of businesses running it will never have any questions, and never notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that their employer has provided them with this tool.</p>
            <p>Employees can also activate personal, professional, and physical protection rules to protect themselves and the members of their families.</p>
          </div>
          <div class="clearfix"></div>
        </article>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'get_sms' %>
<%= render 'mailing_list' %>
<%= render 'social_footer' %>
