<div id="page-title">
  <div class="width-container">
    <h1>Contact us</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="map-progression">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.00758342206!2d-73.9780035!3d40.70563080000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1412174533844" frameborder="0" style="border:0"></iframe>
</div>

<div id="main">
  <div class="width-container bg-sidebar-pro">
    <div id="sidebar-border">
      <div id="content-container">
        <div class="content-container-pro">
          <h3>Get in touch!</h3>
          <p>Ask us anything! We will get back to you within 1-2 business days</p>
          <div class="wpcf7">
            <form class="progression-contact" id="contact-form" method="post" action="#">
              <fieldset>
                <div>
                  <p><input id="contact-name" name="ContactName" class="textInput required" placeholder="Name" required /></p>
                </div>
                <div>
                  <p><input id="contact-email" type="email" name="ContactEmail" class="textInput required email" placeholder="E-mail address" required  /></p>
                </div>
                <div>
                  <p><textarea id="contact-message" name="ContactComment" class="textInput required" rows="10" cols="4" placeholder="Your Message" required></textarea></p>
                </div>
                <div>
                  <p><button type="submit" class="progression-contact-submit wpcf7-submit"><span>Send Us Your Message</span></button></p>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <div class="sidebar-item widget pyre_social_media-feat hidden">
          <h6 class="widget-title">Our Location</h6>
          <div class="social-icons-widget-pro">
            <div>1899 Millbrook Road Wood <br>Dale IL 60191</div>
            <div class="social-ico"></div>
          </div>
          <div class="sidebar-divider"></div>
        </div>
        <div class="sidebar-item widget pyre_social_media-feat">
          <h6 class="widget-title">Contact us</h6>
          <div class="social-icons-widget-pro">
            <div>Phone: 646-546-5621<br>Email: info@securemysocial.com</div>
            <div class="social-ico">
              <a href="https://www.facebook.com/SecureMySocial" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/securemysocial" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/company/securemysocial" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="mailto:info@securemysocial.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
          <div class="sidebar-divider"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
