<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="nmh1 t2 mar1 c">
          Contact Us
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <div class="container">
    <div class="row" id="contact-us-form">
      <div class="col-md-5 col-md-offset-1">
        <%= form_tag "/contact-us", class: 'auto-guard' do |f| %>
          <%= hidden_field_tag :source, params[:source] %>
          <div class="form-group">
            <div class="controls">
              <%= email_field_tag :email, "", :class => 'required email form-control', :placeholder => "Your Email", :required => true %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= text_field_tag :name, "", :class => 'form-control', :placeholder => "Your Name", :maxlength => 250 %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= text_field_tag :website, "", :class => 'form-control', :placeholder => "Your Website", :maxlength => 250 %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= text_area_tag :message, "", :size => "10x10", :class => 'required form-control', :placeholder => "Your message", :required => true, :maxlength => 2000 %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <%= button_tag "Send Message", :type => 'submit', :class => 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-md-offset-1 hero-unit">
        <h3>We'll try to get back to you in 24 hours</h3>
        <h3>No spam — your contact information is safe.</h3>
      </div>
    </div>
  </div>
</div>
