<div id="page-title">
  <div class="width-container">
    <h1>Frequently Asked Questions</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main">
  <div class="width-container">
    <div id="full-width-progression">
      <div id="content-container">
        <div class="content-container-pro">
          <div class="ls-sc-toggle">
            <h3 class="ls-sc-toggle-trigger">Is SecureMySocial yet another employer social media monitoring tool?</h3>
            <div class="ls-sc-toggle-container">No. SecureMySocial helps deliver to employers the social media security that they need, but does so without requiring them to monitor employee social media accounts. SecureMySocial's approach is not only more effective, but far better for employee morale.</div>
          </div>
          <div class="ls-sc-toggle">
            <h3 class="ls-sc-toggle-trigger">Why do employees love SecureMySocial?</h3>
            <div class="ls-sc-toggle-container">Employees love SecureMySocial because it can save them from getting fired or facing other severe professional consequences, and delivers this peace of mind without allowing their employers to monitor their social media accounts. The system is also simple – employees spend just a few seconds signing up and then the system is invisible unless something problematic is detected on social media – in which case people want to know in order to take appropriate action. SecureMySocial can also protect employees from various forms of personal risk.</div>
          </div>
          <div class="ls-sc-toggle">
            <h3 class="ls-sc-toggle-trigger">So SecureMySocial benefits both businesses and their employees?</h3>
            <div class="ls-sc-toggle-container">Correct. It's a win-win situation. SecureMySocial helps deliver to businesses the social media security that they need, while respecting the privacy of employees and protecting them from the adverse consequences of innocent mistakes.</div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div><!-- close .width-container -->

  <div class="clearfix"></div>
</div>

<%= render 'get_sms' %>

<%= render 'social_footer' %>
