<div id="page-title">
  <div class="width-container">
    <h1>Features</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main1">
  <div class="width-container">
    <h2>For Business</h2>
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial protects businesses from the potentially catastrophic consequences of problematic material posted to social media. SecureMySocial provides real-time warnings to employees if they or their contacts post such items on social media sites such as Facebook and Twitter. SecureMySocial's facilitation of quick removal both contains damage and helps shield a firm in case of lawsuits or regulatory investigations.</p>
          <h4 class="category-heading-pro">Benefits</h4>
          <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media. The system is so simple to use that most users will never have any questions, and will never even notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that they have this tool.</p>                    <h4 class="category-heading-pro">
            <h4>Easy to Use</h4>
            <p>A business activates a set of social media security rules (which can be customized). For example: Scan for various internal keywords, product line names, employee names, competitor names, project names, ticker symbols, or intellectual property terms. It can also turn on general rules such as scan for vulgarities, racist language, credit card numbers, or links to fake news.</p>
            <p>The company sends a link to the employee with instructions to opt-in and activate.</p>
            <p>Activation takes less than 10 seconds.</p>
            <p>SecureMySocial then informs employees using social media in real time if they (or others tagging them) are violating such rules.</p>
            <p>Employees can optionally activate other rules to keep themselves even safer.</p>
            <h4 class="category-heading-pro">Technology</h4>
            <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media.</p>
            <p>The system is so simple to use that most employees of businesses running it will never have any questions, and never notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that their employer has provided them with this tool.</p>
            <p>Employees can also activate personal, professional, and physical protection rules to protect themselves and the members of their families.</p>
          </div>
          <div class="clearfix"></div>
        </article>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div id="main2">
  <div class="width-container">
    <h2>For Parents</h2>
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial is the perfect tool for parents wishing to ensure that their children are safe when using social media, as it protects kids of all ages without requiring parents to actively monitor their children, and without making their children feel like "Big Brother" is watching. Parents like the convenience and security, and kids like the privacy and security.</p>
          <p>Children of all ages can be protected from jeopardizing themselves and their futures, as SecureMySocial warns them of problematic posts that they make, or others make about and tag to them, so as to facilitate quick removal. Likewise, children can be protected from cyberbullying – and prevented from bullying others.</p>
          <h4 class="category-heading-pro">Benefits</h4>
          <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media. The system is so simple to use that most users will never have any questions, and will never even notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that they have this tool.</p>
          <h4 class="category-heading-pro">Easy to Use</h4>
          <p>A parent activates a set of social media security rules (which can be customized). For example: Scan for mentions of drugs, certain people's names, certain locations, certain private medical condition information, etc.</p>
          <p>The system generates a link for the child to opt-in and activate. Activation takes less than 10 seconds. SecureMySocial then informs the child as he or she uses social media in real time if he, she, or others tagging them are violating such rules. The child can also optionally activate other rules to keep themselves even safer. The parent receives reporting that the child is using the system and, depending on user settings, various other information in a periodic report form.</p>
        </div>
        <div class="clearfix"></div>
      </article>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div id="main3">
  <div class="width-container">
    <h2>For Individuals</h2>
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial helps people protect themselves from the personal and professional damage that can occur from problematic social media posts (made by themselves or by others referencing them) by providing real-time warnings as problematic material is posted so as to ensure immediate removal.</p>
          <p>Even privacy conscious users benefit from SecureMySocial, as even the most technologically-savvy users have friends, colleagues, and acquaintances with less sophistication who can tag them in posts and thereby cause serious problems. Problematic posts need not be offensive or negative in nature – tagging someone far from home in a public post may alert thieves that her house is empty and unguarded, tagging someone at a particular event could cause issues with a spouse, etc.</p>
          <p>By addressing the physical and human risks of social media – saving people from physical harm, reputational damage, legal issues, personal and professional challenges, and other problems – SecureMySocial offers protection not found in other products.
            SecureMySocial was designed by a team of psychologists, IT security gurus, and engineers, and takes less than ten seconds to activate.</p>
        </div>
        <div class="clearfix"></div>
      </article>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<%= render 'get_sms' %>
<%= render 'mailing_list' %>
<%= render 'social_footer' %>
