<div id="pro-home-slider"><!-- START REVOLUTION SLIDER 4.5.95 fullwidth mode -->
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
      <ul>  <!-- SLIDE  1-->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/tassets/business.png"  alt="slide-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption pro-heading-blue customin fadeout tp-resizeme"
            data-x="800"
            data-y="center" data-voffset="-115"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="250"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >FOR <span>BUSINESSES</span>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption pro-text-blue customin fadeout tp-resizeme"
            data-x="800"
            data-y="center" data-voffset="50"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="500"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >Businesses wishing to protect themselves from information leaks, <br />
            reputational damage, legal problems, regulatory violations,
            and other problems <br /> that employee usage of social media can create,
            but need to get this <br /> protection without actively monitoring
            employee accounts or asking employees.
          </div>
        </li>

        <!-- SLIDE 2 -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/tassets/parents.png" alt="slide-2-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption pro-heading-blue customin fadeout tp-resizeme"
            data-x="100"
            data-y="50"
            data-voffset="-115"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="250"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >FOR <span>PARENTS</span>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption pro-text-blue customin fadeout tp-resizeme"
            data-x="100"
            data-y="200" data-voffset="70"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="500"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >SecureMySocial is the perfect tool for parents wishing to ensure <br />
            that their children are safe when using social media, as it protects <br />
            kids of all ages without requiring parents to actively monitor their children, <br />
            and without making their children feel like "Big Brother" is watching. <br />
            Parents like the convenience and security, and kids like the privacy and security.
          </div>

        </li>

        <!-- SLIDE 3 -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="/tassets/Individuals.png"  alt="slide-3-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption pro-heading-blue customin fadeout tp-resizeme"
            data-x="800"
            data-y="center" data-voffset="-115"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="250"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >FOR <span>INDIVIDUALS</span>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption pro-text-blue customin fadeout tp-resizeme"
            data-x="800"
            data-y="center" data-voffset="50"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="500"
            data-easing="Power4.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="200"
            >SecureMySocial helps people protect themselves from the personal and <br />
            professional damage that can occur from problematic social media posts <br />
            (made by themselves or by others referencing them) by providing real-time <br />
            warnings as problematic material is posted so as to ensure immediate removal.
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->
</div>

<div id="as-seen-on">
  <div class="header">As seen in:</div>
  <div class="links">
    <a target="_blank" href="http://www.forbes.com/sites/mnewlands/2016/02/24/5-tips-for-keeping-your-business-safe-on-social-media-with-joseph-steinberg/#4747b9b83c7b">
      <img src="/images/forbes.png" alt="Forbes" />
    </a>
    <a target="_blank" href="http://business.com/internet-security/interview-with-joseph-steinberg-the-security-risks-in-social-media/">
      <img src="/images/Business.com.png" alt="Business.com" />
    </a>
    <a target="_blank" href="http://www.entrepreneur.com/article/254712">
      <img src="/images/entrepreneur.png" alt="Entrepreneur" />
    </a>
    <a target="_blank" href="http://www.inc.com/joseph-steinberg/how-a-single-social-media-blunder-cost-a-university-$2-million.html">
      <img src="/images/inc.png" alt="INC" />
    </a>
    <a target="_blank" href="http://www.cio.com/article/2927598/security0/how-your-employees-put-your-organization-at-risk.html">
      <img src="/images/CIO.png" alt="CIO" />
    </a>
    <a target="_blank" href="http://www.shrm.org/hrdisciplines/technology/articles/pages/lessons-learned-from-anthem-data-breach.aspx">
      <img src="/images/SHRM.jpg" alt="SHRM" />
    </a>
    <a target="_blank" href="http://www.socialmediatoday.com/marketing/how-automation-optimizes-your-social-media-marketing-effort">
      <img src="/images/SocialMediaToday.png" alt="SMT" />
    </a>
    <a target="_blank" href="https://www.socialmediaexplorer.com/social-media-marketing/pro-tips-keep-your-employees-from-burning-out/">
      <img src="/images/sme-social-media-explorer-combo.png" alt="SME" />
    </a>
    <a target="_blank" href="http://socialmediaclub.org/blog/blogs/how-to-increase-relevant-social-media-shares-for-your-content">
      <img src="/images/smc.png" alt="SMC" />
    </a>
    <a target="_blank" href="http://socialmedia.biz/2015/09/29/the-3-major-risks-of-using-social-media-in-your-business/">
      <img src="/images/SocialMediaBiz.png" alt="SMB" />
    </a>
    <a target="_blank" href="http://www.geektime.com/2016/02/01/securemysocial-stops-users-from-posting-stupid-statuses/">
      <img src="/images/geektime.png" alt="GT" />
    </a>
  </div>
</div>

<!--VIDEO-->

<div class="widget home-widget pyre_homepage_main_higlight-feat">
  <div class="pyre_homepage_main_higlight-feat-2 home-content-highlight">
    <div class="width-container">
      <div class="grid2column-progression">
<!--         <iframe src="//player.vimeo.com/video/118292132" width='500' height='337' style='width:500px;height:337px;'></iframe>    -->
        <iframe width="500" height="337" src="https://www.youtube.com/embed/CNArubTKni4" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="grid2column-progression lastcolumn-progression">
        <h1 class="home-highlight-heading">PROVIDING THE ULTIMATE SOCIAL MEDIA SECURITY</h1>
        <div class="home-widget-text-pro">SecureMySocial addresses the business, legal, regulatory, physical, and human risks of social media by warning people in real-time if they post problematic material so as to ensure immediate removal. SecureMySocial can also auto-delete such posts if so authorized.</div>
        <div class="home-widget-button-pro">
          <a href="/features" class="progression-button secondary-button">All Features<i class="ls-sc-button-icon-right fa fa-list-alt"></i></a>
          <a href="/contact" class="progression-button secondary-button">Speak with a representative<i class="ls-sc-button-icon-right fa fa-credit-card"></i></a>
        </div>
        <!--<div class="home-widget-button-pro">-->
        <!--<a href="contact.html" class="progression-button secondary-button">Read More<i class="ls-sc-button-icon-right fa fa-briefcase"></i></a>-->
        <!--</div>-->
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--3 FOR SECTIONS-->

<div id="pyre_homepage_media-widget-product-feat-2" class="widget home-widget">
  <div class="pyre_homepage_main_higlight-feat-5 home-content-highlight">
    <div class="width-container">
      <div class="grid2column-progression">
        <h1 class="home-widget-text-pro" style="text-align: inherit">Real-Time Warnings & Auto-Deletion of Problematic Posts</h1>
        <div class="home-widget-text-pro">PROVIDING THE ULTIMATE SOCIAL MEDIA SECURITY</div>
        <div class="home-widget-text-pro">A business activates a set of social media security rules (which can be customized). For example: Scan for various internal keywords, product line names, employee names, competitor names, project names, ticker symbols, or intellectual property terms. It can also turn on general rules such as scan for vulgarities, racist language, credit card numbers, or links to fake news.
          Regular expression and natural language analysis can
          also be used.
          The company sends a link to the employee with
          instructions to opt‐in and activate.
          Activation takes less than 10 seconds.
          SecureMySocial then informs employees using
          social media in real time if they (or others
          tagging them) are violating such rules, and can optionally automatically and immediately delete especially problematic posts.
          Employees can also activate personal, professional, and physical protection rules to protect themselves and the members of their families.
        </div>
        <div class="home-widget-button-pro">
          <a href="/features" class="progression-button secondary-button">All Features<i class="ls-sc-button-icon-right fa fa-list-alt"></i></a>
          <a href="/contact" class="progression-button secondary-button">Speak with a representative<i class="ls-sc-button-icon-right fa fa-credit-card"></i></a>
        </div>
      </div>
      <div class="grid2column-progression lastcolumn-progression">
        <img src="/tassets/warning.jpg" class="hidden-xs" alt="Easy To Use">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div id="pyre_homepage_main_higlight-feat-5" class="widget home-widget">
  <div class="pyre_homepage_main_higlight-feat-5 home-content-highlight light-fonts-pro">
    <div class="width-container">
      <div class="grid2column-progression">
        <img src="/tassets/easy.jpeg" alt="Easy To Use">
      </div>
      <div class="grid2column-progression lastcolumn-progression">
        <h1 class="home-highlight-heading">EASY TO USE</h1>
        <div class="home-widget-text-pro">INVITE-BASED SIGNUPS, CUSTOMIZABLE SECURITY RULES</div>
        <div class="home-widget-text-pro">With its robust, cloud‐based, human‐behavioral‐risk
          scanning engine, SecureMySocial warns users in realtime
          of posts, settings, and other social media activity
          that may expose them or their employers to realworld
          physical, financial, professional, and personal
          risk.
          Employers do not need to ask their employees for
          credentials – so businesses benefit from the safety
          they want and need while avoiding legal and human
          issues.
          The psychology‐based system helps organizations
          secure their employees, brands, and reputations,
          while also ensuring compliance with government
          rules and regulations, and offering a reasonable Due
          Care defense in case of any violations.</div>
        <div class="home-widget-button-pro">
          <a href="/faetures" class="progression-button secondary-button">All Features<i class="ls-sc-button-icon-right fa fa-list-alt"></i></a>
          <a href="/contact" class="progression-button secondary-button">Speak with a representative<i class="ls-sc-button-icon-right fa fa-credit-card"></i></a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="widget home-widget">
  <div class="pyre_homepage_main_higlight-feat-5 home-content-highlight">
    <div class="width-container">
      <div class="grid2column-progression">
        <h1 class="home-highlight-heading" style="text-align: inherit">WORKS EVERYWHERE</h1>
        <div class="home-widget-text-pro">REQUIRES NO DOWNLOAD OR INSTALL. RUNS COMPLETELY IN THE CLOUD</div>
        <div class="home-widget-text-pro">SecureMySocial runs in the cloud, requires no app
          installations, and works regardless of what platform
          a person uses to access social media.
          The system scans activity on multiple popular social
          media platforms in real‐time and notifies users of
          potential risks.
          The system is so simple to use that most employees
          of businesses running it will never have any
          questions, and never notice it is running until a
          problem arises about which they want to know – at
          which time they will be extremely thankful that
          their employer has provided them with this tool.</div>
        <div class="home-widget-button-pro">
          <a href="/features" class="progression-button secondary-button">All Features<i class="ls-sc-button-icon-right fa fa-list-alt"></i></a>
          <a href="/contact" class="progression-button secondary-button">Speak with a representative<i class="ls-sc-button-icon-right fa fa-credit-card"></i></a>
        </div>
      </div>
      <div class="grid2column-progression lastcolumn-progression">
        <img src="/tassets/everywhere.jpeg" alt="Easy To Use">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--MORE BLURBS-->
<!--3 FOR SECTIONS-->

<div class="widget home-widget pyre_homepage_media-port">
  <div class="home-content-highlight pyre_homepage_main_higlight-feat-4">
    <div class="width-container">
      <!--<h1 class="home-widget">RECENT WORKS</h1>-->
      <div class=" home-portfolio-boxes grid3column-progression">
        <article>
          <div class="portfolio-index-pro">
            <div class="featured-image-portfolio">
              <a href="/businesses">
                <img width="700" height="615" src="/tassets/business.png" class="attachment-progression-portfolio-thumb wp-post-image" alt="shutterstock_108915350">
              </a>
            </div>
            <div class="portfolio-index-text">
              <div class="portfolio-index-padding">
                <h5 class="portfolio-index-title">
                  <a href="/businesses"> For Businesses </a>
                </h5>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
        <div class="clearfix"></div>
      </div>
      <div class=" home-portfolio-boxes grid3column-progression">
        <article>
          <div class="portfolio-index-pro">
            <div class="featured-image-portfolio">
              <a href="/parents">
                <img width="700" height="615" src="/tassets/parents.png" class="attachment-progression-portfolio-thumb wp-post-image" alt="">
              </a>
            </div>
            <div class="portfolio-index-text">
              <div class="portfolio-index-padding">
                <h5 class="portfolio-index-title">
                  <a href="/parents"> For Parents - coming soon</a>
                </h5>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
        <div class="clearfix"></div>
      </div>
      <div class=" home-portfolio-boxes grid3column-progression lastcolumn-progression">
        <article>
          <div class="portfolio-index-pro">
            <div class="featured-image-portfolio">
              <a href="/individuals">
                <img width="700" height="615" src="/tassets/Individuals.png" class="attachment-progression-portfolio-thumb wp-post-image" alt="shutterstock_86273293">
              </a>
            </div>
            <div class="portfolio-index-text">
              <div class="portfolio-index-padding">
                <h5 class="portfolio-index-title">
                  <a href="/individuals"> For Individuals - coming soon</a>
                </h5>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <% content_for :scripts do %>
    <script type="text/javascript">jQuery(document).ready(function($){$(".pyre_homepage_main_higlight-feat-4").backstretch(["/images/demo/bg-light-feature.jpg"],{fade:750,});});</script>
  <% end %>
</div>

<%= render 'mailing_list' %>
<%= render 'get_sms' %>
<%= render 'social_footer' %>
