<div class="container">
  <div class="jumbotron">
    <h1>Join <%= @account_name %></h1>
    <p>Please authorize SecureMySocial App below to read and access your Twitter and Facebook accounts.</p>
    <p>By authorizing your accounts below, you agree to <a href="/tos" target="_blank">SecureMySocial terms of services</a></p>
    <p class="text-center hidden">
      <a href="<%= omniauth_authorize_path(:user, :twitter) %>" class="btn btn-primary btn-lg">
        <i class="fa fa-twitter"></i>
        Authorize account on Twitter
      </a>
      <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-primary btn-lg">
        <i class="fa fa-facebook"></i>
        Authorize account on Facebook
      </a>
    </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Choose Password</h3>
      </div>

      <div class="panel-body">
        <%= form_for(:user, :url => registration_path(:user), :html => {:class => "form-horizontal"} ) do |f| %>
          <div class="form-group hidden">
            <%= f.label :email, :class => "control-label col-md-4" %>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-none">@</i></span>
                <%= f.email_field :email, :class => "form-control", :value => @email %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, :class => "control-label col-md-4" %>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <%= f.password_field :password, :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm Password", :class => "control-label col-md-4" %>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <%= f.password_field :password_confirmation, :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-8 pull-right">
              <%= f.submit "Join", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
