<div id="main1">
  <div class="width-container">
    <iframe width="960" height="720" src="https://www.youtube.com/embed/gzMXO4TwQ7Q" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="main1">
  <div class="width-container">
    <p>
      <h4>For more information please contact SecureMySocial at info@securemysocial.com or +1 646 546 5621.</h4>
    </p>
  </div>
</div>

<%= render 'get_sms' %>
<%= render 'mailing_list' %>
<%= render 'social_footer' %>
