<div id="page-title">
  <div class="width-container">
    <h1>For Parents</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main1">
  <div class="width-container">
    <div id="portfolio-index">
      <article>
        <div class="portfolio-post-content">
          <p>SecureMySocial is the perfect tool for parents wishing to ensure that their children are safe when using social media, as it protects kids of all ages without requiring parents to actively monitor their children, and without making their children feel like "Big Brother" is watching. Parents like the convenience and security, and kids like the privacy and security.</p>
          <p>Children of all ages can be protected from jeopardizing themselves and their futures, as SecureMySocial warns them of problematic posts that they make, or others make about and tag to them, so as to facilitate quick removal. Likewise, children can be protected from cyberbullying – and prevented from bullying others.</p>
          <h4 class="category-heading-pro">Benefits</h4>
          <p>SecureMySocial system runs in the cloud, requires no app installations, and works regardless of what platform a person uses to access social media. The system is so simple to use that most users will never have any questions, and will never even notice it is running until a problem arises about which they want to know – at which time they will be extremely thankful that they have this tool.</p>
          <h4 class="category-heading-pro">Easy to Use</h4>
          <p>A parent activates a set of social media security rules (which can be customized). For example: Scan for mentions of drugs, certain people's names, certain locations, certain private medical condition information, etc.</p>
          <p>The system generates a link for the child to opt-in and activate. Activation takes less than 10 seconds. SecureMySocial then informs the child as he or she uses social media in real time if he, she, or others tagging them are violating such rules. The child can also optionally activate other rules to keep themselves even safer. The parent receives reporting that the child is using the system and, depending on user settings, various other information in a periodic report form.</p>
        </div>
        <div class="clearfix"></div>
      </article>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<%= render 'get_sms' %>
<%= render 'mailing_list' %>
<%= render 'social_footer' %>
