<div id="page-title">
  <div class="width-container">
    <h1>Partners</h1>
    <div class="clearfix"></div>
  </div>
</div>

<div id="main">
  <div class="width-container bg-sidebar-pro">
      <div id="content-container">
        <div class="content-container-pro">
          <h3>Submit Your Partnership Request!</h3>
          <div class="wpcf7">
            <form class="progression-contact" id="contact-form" method="post" action="#">
              <fieldset>
                <div>
                  <p><input id="contact-name" name="ContactName" class="textInput required" placeholder="Name" required /></p>
                </div>
                <div>
                  <p><input id="contact-email" type="email" name="ContactEmail" class="textInput required email" placeholder="E-mail address" required  /></p>
                </div>
                <div>
                  <p><textarea id="contact-message" name="ContactComment" class="textInput required" rows="10" cols="4" placeholder="Your Message" required></textarea></p>
                </div>
                <div>
                  <p><button type="submit" class="progression-contact-submit wpcf7-submit"><span>Send Request</span></button></p>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
