#dashboard {
  .fa { font-size: 50px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }
  .list-group-item { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }

  .danger * {
    color: #B94A48;
  }

  .success * {
    color: #468847;
  }

  .facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
  .google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
  .twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
  .linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
  .tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
  .youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
  .vimeo i,.vimeo h4.list-group-item-heading { color:#44bbff; }
}
