<div class="system-rule">
  <div class="checkbox">
    <label>
      <input type="checkbox" class="sysrule-checkbox" name="sysrules[<%= rule.id %>" <% if rule.sr_rule_id %>checked="checked"<% end %>/>
      <span>
        <strong><%= rule.name %></strong>
        <div>
          <em><%= truncate(rule.description, length: 200) %></em>
        </div>
      </span>
    </label>
  </div>
</div>
