<div class="container">
  <h3>Alerts</h3>

  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr class="info">
        <th>Account</th>
        <th>Message</th>
        <th>Time</th>
        <th>Rule</th>
      </tr>
    </thead>
    <tbody>
      <% @alerts.each do |alert| %>
        <tr>
          <td><%= alert.account_description %></td>
          <td><%= alert.message %></td>
          <td><%= alert.message_time %></td>
          <td><%= alert.rule.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
