<div class="container">

  <%= form_for @user, :as => :member, :url => "/profile", :html => {:multipart => true, :method => :patch, :class => "form-horizontal"} do |f| %>
    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#accounts" aria-controls="accounts" role="tab" data-toggle="tab">Social Accounts</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#prules" aria-controls="prules" role="tab" data-toggle="tab">Personal Protection Rules</a></li>
        <li role="presentation"><a href="#crules" aria-controls="frules" role="tab" data-toggle="tab">Career Protection Rules</a></li>
        <li role="presentation"><a href="#frules" aria-controls="frules" role="tab" data-toggle="tab">Financial Protection Rules</a></li>
      </ul>

      <br />

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="accounts">
          <div class="well well-lg text-center">
            <% if @has_linkedin %>
              <a href="<%= omniauth_authorize_path(:user, :linkedin) %>" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                <i class="fa fa-linkedin"></i>
                Connected with LinkedIn
              </a>
            <% else %>
              <a href="<%= omniauth_authorize_path(:user, :linkedin) %>" class="btn btn-primary btn-lg">
                <i class="fa fa-linkedin"></i>
                Connect a LinekedIn Account
              </a>
            <% end %>
              
            <% if @has_facebook %>
              <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                <i class="fa fa-facebook"></i>
                Connected with Facebook
              </a>
            <% else %>
              <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-primary btn-lg">
                <i class="fa fa-facebook"></i>
                Connect a Facebook Account
              </a>
            <% end %>

            <% if @has_twitter %>
              <a href="<%= omniauth_authorize_path(:user, :twitter) %>" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                <i class="fa fa-twitter"></i>
                Connected with Twitter
              </a>
            <% else %>
              <a href="<%= omniauth_authorize_path(:user, :twitter) %>" class="btn btn-primary btn-lg">
                <i class="fa fa-twitter"></i>
                Connect a Twitter Account
              </a>
            <% end %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="profile">
          <div class="well">
            <% if current_user.missing_email? %>
              <div class="row">
                <div id="updateProfile" class="col-sm-8 col-sm-offset-2">
                  <div id="email-missing" class="alert alert-danger c">
                    Please update your profile with a valid email address
                  </div>
                </div>
              </div>
            <% end %>

            <div id="updateProfile">
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <div class="alert alert-danger">
                    The form contains <%= pluralize(@user.errors.count, "error") %>.
                  </div>
                </div>

                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              <% end %>

              <div class="form-group">
                <%= f.label "Name", :class => 'control-label col-sm-3' %>
                <div class="col-sm-4">
                  <%= f.text_field :first_name, :class => 'form-control', :maxlength => 50, :required => true, :placeholder => "First" %>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :last_name, :class => 'form-control', :maxlength => 50, :required => true, :placeholder => "Last" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Email", :class => 'control-label col-sm-3' %>
                <div class="col-sm-8">
                  <%= f.email_field :email, :class => 'form-control', :maxlength => 128, :required => true %>
                  <% if current_user.unconfirmed_email.present? %>
                    <p class="help-block hidden">Email is not verified</p>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Phone", :class => 'control-label col-sm-3' %>
                <div class="col-sm-8">
                  <%= f.text_field :phone, :class => 'form-control', :maxlength => 20, :placeholder => "Phone number" %>
                  <% if false %>
                    <p class="help-block hidden">Phone is not verified</p>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Send Alerts To", :class => 'control-label col-sm-3' %>
                <div class="col-sm-8">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :alert_email %> Email
                    </label>
                    &nbsp;&nbsp;
                    <label>
                      <%= f.check_box :alert_phone %> Phone
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Authorize Auto Deletes", :class => 'control-label col-sm-3' %>
                <div class="col-sm-8">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :auto_delete %> Twitter
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                  <%= f.button :type => "submit", :class => 'btn btn-primary' do %>
                    <i class="fa fa-save"></i> Save changes
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="prules">
          <div class="well">
            <%= render partial: 'rule', collection: @personal_rules %>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="crules">
          <div class="well">
            <%= render partial: 'rule', collection: @career_rules %>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="frules">
          <div class="well">
            <%= render partial: 'rule', collection: @financial_rules %>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i>Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
