<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social Media Real Time Alerts To Protect your Business and Employees</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Protect business from information leaks, reputational damage, legal problems, regulatory violations, and other problems that employee usage of social media can create"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fontfamous.com/css/font-famous.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
    <%= stylesheet_link_tag "ex/application", :media => "all" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="body">
    <section id="header">
      <header>

        <div class="width-container">
          <h1 id="logo">
            <a href="/" title="SecureMySocial" rel="home">
              <img src="/tassets/logo.png" alt="SMS" width="180" height="300">
            </a>
            <div class="tagline">SOCIAL MEDIA REAL TIME ALERTS</div>
          </h1>

          <div id="additional-social-pro">
            <div class="social-ico">
              <a href="https://www.facebook.com/SecureMySocial" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/securemysocial" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="http://app.securemysocial.com/"><i class="fa fa-key" title="LOGIN"></i></a>
            </div>
          </div>

          <nav>
            <div class="menu-main-navigation-container">
              <ul id="menu-main-navigation" class="sf-menu">
                <li class="menu-item current-menu-item hidden-md hidden-sm">
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/about" class="sf-with-ul hidden-sm">About</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="/about">ABOUT</a>
                    </li>
                    <li>
                      <a href="/faq">FAQ</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/features" class="sf-with-ul">Products</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="/businesses">For Business</a>
                    </li>
                    <li>
                      <a href="/parents">For Parents</a>
                    </li>
                    <li>
                      <a href="/individuals">For Individuals</a>
                    </li>
                  </ul>
                </li>
                <li class="hidden-sm">
                  <a href="/partners">Partners</a>
                </li>
                <li>
                  <a href="http://news.securemysocial.com/">Latest News</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="clearfix"></div>
        </div>
      </header>
    </section>

    <section id="layout-body" class="container-fluid">
      <section class="container" id="layout-flash">
        <div id="flash">
          <% if alert %>
            <div id="alert" class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= alert %>
            </div>
          <% end %>
          <% if notice %>
            <div id="notice" class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%= notice %>
            </div>
          <% end %>
        </div>
      </section>
      <%= yield %>
    </section>

    <section id="layout-footer">
      <footer>
        <div id="copyright">
          <div class="width-container">
            <div id="copyrigh-text">©<%= Date.today.year %> SecureMySocial, L.L.C. All Rights Reserved.</div>
            <a class="scrollup" href="#top"><i class="fa fa-angle-up"></i></a>
            <div class="menu-footer-navigation-container">
              <ul id="menu-footer-navigation" class="pro-footer-menu">
                <li class="menu-item">
                  <a href="/">Home</a>
                </li>
                <li class="menu-item">
                  <a href="http://news.securemysocial.com/">Latest News</a>
                </li>
                <li class="menu-item">
                  <a href="/contact">Contact us</a>
                </li>
                <li class="menu-item">
                  <i class="fa fa-phone"></i>+ 1 (646) 546-5621
                </li>
                <li class="menu-item">
                  <a href="mailto:info@securemysocial.com">
                    <i class="fa fa-envelope"></i>info@securemysocial.com</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </footer>
    </section>

    <script src="/js/libs/jquery-1.11.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/libs/jquery-ui.min.js"></script>
    <script src="/js/revolution-slider.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <%= javascript_include_tag "ex/application"  %>
    <%= javascript_include_tag "application"  %>
    <%= yield :scripts %>
  </body>
</html>
