$blue: #1A77BA;
$red: red;

#pro-home-slider {
  visibility: hidden;
}

#layout-body {
  margin-bottom: 5em;
  margin-top: 140px;
  .panel-info>.panel-heading {
    background-color: lighten($blue, 30%);
    color: darken($blue, 20%);
  }
  .table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
    background-color: lighten($blue, 30%);
    color: darken($blue, 20%);
  }
  .panel-primary>.panel-heading {
    background-color: darken($blue, 10%);
    a:hover {
      color: #aaa;
      text-decoration: none;
    }
  }
  .btn-danger {
    background-color: darken($red, 15%);
    border-color: darken($red, 30%);
  }
  .btn-danger:hover {
    background-color: darken($red, 1%);
    border-color: darken($red, 3%);
  }
  .btn-primary {
    background-color: darken($blue, 10%);
    border-color: darken($blue, 20%);
  }
  .btn-primary:hover {
    background-color: lighten($blue, 5%);
    border-color: lighten($blue, 5%);
  }
  i.fa {
    margin-right: 5px;
  }
  .sms-btn-group .btn {
    margin: 0.5em;
  }
}

.sms-section {
  margin: 0.5em auto;
  padding: 0.5em;
  .btn-group .btn { margin: 0.5em 1em; }
}

.providers-login {
  margin: 1em 0;
  a {
    margin: 1.5em 0;
  }
}

.system-rule {
  padding: 1em;
  margin-bottom: 1em;
}

.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 4.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .8;
}

.btn.btn-lg {padding: 10px 40px; margin-top: 1em;}

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(http://securemysocial.com/images/business.png);
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://securemysocial.com/images/parents.png);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://securemysocial.com/images/Individuals.png);
}

#main-header {
  position: fixed;
  top: 5%;
  z-index: 3;
  color: #C4DDFF;
  text-shadow: 1px 1px #07F, -1px -1px #07F;
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  width: 100%;
}

@media screen and (min-width: 980px){
  .hero { width: 980px; }
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }
  #main-header {
    font-size: 4em;
  }
}

#accounts a.btn {
  margin-bottom: 1em;
}

div#as-seen-on {
  .header {
    font-size: 3em;
    padding-top: 0.5em;
  }
  text-align: center;
  .links {
    a { color: #666; }
    a:active, a:visited, a:hover, a:focus {
      color: #666;
      text-decoration: none;
    }
  }
  a {
    margin: 20px;
    display: inline-block;
  }
  img { opacity: 0.6; filter: alpha(opacity=60); }
  img:hover { opacity: 1; filter: alpha(opacity=100); }
}
