/*
=============================================== 01. RETINA STYLES ===============================================
 */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body nav select {background: url(/images/select-arrow@2x.png) center right no-repeat; background-size:contain;}
  .flex-direction-nav a {background-image: url(/images/slider/arrows@2x.png); background-size:80px 60px;}
}

/* IE7-IE8 Fixes*/
.lt-ie9 body nav select {background: url(/images/select-arrow.png) center right no-repeat;}
.lt-ie9 .flex-direction-nav a {background-image: url(/images/slider/arrows.png); background-size:68px 69px;}


/*
=============================================== 02. BASE STYLES (1140px) ===============================================
 */
/* Note: Design for a width of 1040px */
html {-webkit-text-size-adjust: none;}  /* Removes webkit font resizing */
body {max-width:100%; width:100%;}
img {max-width:100%; height: auto; }
.width-container, .flex-caption .slider-container {-moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; }

/*
=============================================== 03. #DESKTOP (960px) ===============================================
 */
/* Note: Design for a width of 960px */
@media only screen and (min-width: 959px) and (max-width: 1190px) {
  .flex-caption .slider-container, .width-container, .home-widget .textwidget {width:92%;} /* Default Width */
  .sf-menu a { padding-left:8px; padding-right:8px; }
  #additional-social-pro { margin-left:0px; }
  .social-ico a i { margin-left:4px; }
}

/*
=============================================== 04. #Tablet (Portrait) ===============================================
 */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  #pro-header-fixed {position:relative !important;}
  .pro-header-spacing {display:none !important;}

  /* Default Width */
  .flex-caption .slider-container, .width-container, .home-widget .textwidget { width:92%; }

  .sf-menu a {
    padding-left:4px;
    padding-right:4px;
    font-size:13px;
  }

  #additional-social-pro { margin-left:5px; }
  .social-ico a i { margin-left:2px; }

  .address-phone-pro {
    margin-right:10px;
  }

  #header-top .cart-nav-pro a.shopping-cart-basket {
    padding-left:8px;
  }

  h1 {font-size:35px; }
  h2 {font-size:30px; }
  h3 {font-size:25px;  }
  h4 {font-size:20px;  }
  h5 {font-size:20px;  }
  h6 {font-size:15px;}
  .footer-highlight-home h1 { font-size:40px; }
  #bread-crumb {  margin-top:50px; }

  /* WooCommerce Columns */
  body #main .width-container li.product.column-4 {margin-right:2%; width: 23.5%; clear:none;}
  body #main .width-container li.product.column-3 {margin-right:2%; width: 32%; clear:none;}
  body #main .width-container li.product.column-2 {margin-right:2%; width: 49%; clear:none; }

  body #main .width-container li.product.column-2.last, body #main .width-container li.product.column-3.last, body #main .width-container li.product.column-4.last, .lt-ie8 body #main .width-container li.product.column-2.last, .lt-ie8 body #main .width-container li.product.column-3.last, .lt-ie8 body #main .width-container li.product.column-4.last {margin-right:0%;}

  body #main .width-container li.product { float:left;}
  body #main .width-container li.product.first { clear: both;}

  body #main .width-container .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
  body #main .width-container .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
  body #main .width-container .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }
}


/*
=============================================== 05. #Mobile (Portrait) ===============================================
 */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

  body, footer {
    font-size:13px;
    margin-top:170px;
  }

  header {
    padding-bottom: 170px;
  }

  /* Default Width */
  .width-container, .flex-caption .slider-container, .home-widget .textwidget { width:90%; }

  #pro-header-fixed {position:relative !important;}
  .pro-header-spacing {display:none !important;}

  /* Default Grid */
  .footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget,
  #sidebar, #content-container, footer .footer-2-column .widget, footer .footer-3-column .widget, footer .footer-4-column .widget,
  .grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression,
  #sidebar, #content-container {
    width:100%; margin-bottom:10px;
  }

  body #main .width-container li.product.column-2, body #main .width-container li.product.column-3, body #main .width-container li.product.column-4, .lt-ie8 body #main .width-container li.product.column-2, .lt-ie8 body #main .width-container li.product.column-3, .lt-ie8 body #main .width-container li.product.column-4
  {
    width:100%;
    margin-bottom:10px;
  }

  #main .bg-sidebar-pro {
    background-image:none;
  }

  #bread-crumb {
    float:none;
    text-align:left;
    position:relative;
    top:-25px;
    margin:0px;
  }
  #page-title h1 {
    float:none;
  }

  #copyrigh-text { float:none; text-align:center;}

  footer #copyright ul.pro-footer-menu {
    float:none;
    margin:10px auto 0px auto;
    text-align:center;
  }

  #additional-social-pro {
    float:none;
    margin:-10px auto 8px auto;
    text-align:center;
  }

  #checkout-basket-iceberg {
    display:none !important;
  }
  /* Select Menu */
  h1#logo {float:none !important; padding:0px; margin:0 auto; text-align:center;}
  #additional-icons-nav {display:none; float:none; margin:0 auto; background:none; text-align:center;}
  nav {float:none; margin:0 auto 5px auto;  background:none;}
  nav ul { display: none;  }
  nav select option { background:#fff; color:#888;}
  nav select { text-transform:none; display:block;  margin-left:auto; margin-right:auto; width:300px; min-width: 150px; max-width: 100%; -webkit-appearance: none; -moz-appearance: normal; appearance: normal;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none;-moz-user-select: none;
    background:#FAFAFA url(/images/select-arrow.png) center right no-repeat;;
    font-size:13px;
    border: 1px solid #aaaaaa;
    color: #555555;
    padding:7px 5px 7px 10px;
  }


  /* Header Menu */
  #header-top  ul.pro-top-menu {
    text-align:center;
  }
  #header-top  ul.pro-top-menu li {
    margin-left:0px; margin-right:5px;
    padding:8px 0px 0px 0px;
  }

  #header-top ul { text-align:center;  }
  #header-top ul li {padding:8px 0px 8px 0px;}
  .cart-nav-pro { float:none; }

  #header-top ul.cart-nav-pro {
    text-align:center;
    float:none;
  }

  #header-top .address-phone-pro {
    display:inline-block;
    float:none;
    padding:8px 0px 0px 0px;
    margin-right:5px;
  }

  /* BLOG Adjustments */
  .blog-container-text {
    padding:14px 18px 0px 18px;
    margin:0px 15px 0px 15px;
  }

  .commentlist {width:95%; left:-10px;}
  .commentlist .children li.comment .comment-meta {margin-left:0px;}
  .commentlist .avatar, .commentlist > li:before {display:none;}
  .commentlist .avatar {display:none;}

  /* WOOCOMMERCE */
  .product-remove {display:none;}
  #single-product-pro .entry-summary { padding:0px; background:none; }
  body.woocommerce .commentlist {left:0px;}
  .comment-text {
    width:90% !important;
    margin:0px !important;
    margin-left:-10px !important;
  }

  .portfolio-index-text.video-portfolio-pro {
    position:relative;
  }
  img.filler-pro {display:none;}
  .video-pro-portfolio {height:auto; margin:0px;}

  .woocommerce table.cart {
    font-size:10px;
  }

  /* Heading Sizes */
  #page-title h1, #bread-crumb {max-width:100%;}

  h1 {font-size:30px; }
  h2 {font-size:25px; }
  h3 {font-size:22px;  }
  h4 {font-size:19px; }
  h5 {font-size:18px;  }
  h6 {font-size:13px;}
  .footer-highlight-home h1 { font-size:35px; }

  .googlemap {
    max-height:250px !important;
  }

  .wpcf7 input, #respond input {width:185px;}
  .wpcf7 textarea, #respond textarea {width:215px; }

  body a.progression-button {margin-bottom:5px;}
}
