<div class="body">
  <div class="container">
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>

          <div class="panel-body">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal"  }) do |f| %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="form-group row">
                  <div class="controls">
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  </div>
                </div>
              <% end %>

              <div class="form-group row">
                <%= f.label :current_password, :class => "control-label col-lg-5"  %>
                <div class="col-lg-7">
                  <%= f.password_field :current_password, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :password, :class => "control-label col-lg-5"  %>
                <div class="col-lg-7">
                  <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :password_confirmation, :class => "control-label col-lg-5"  %>
                <div class="col-lg-7">
                  <%= f.password_field :password_confirmation, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12">
                  <%= f.submit "Update", :class => "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Cancel Account</h3>
          </div>
          <div class="panel-body">
            <p><%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
