<div class="body">
  <div class="container">
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Create Account</h3>
          </div>

          <div class="panel-body">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"} ) do |f| %>
              <div class="form-group">
                <%= f.label :email, :class => "control-label col-md-4" %>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, :class => "control-label col-md-4" %>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <%= f.password_field :password, :class => "form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm Password", :class => "control-label col-md-4" %>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <%= f.password_field :password_confirmation, :class => "form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-8 pull-right">
                  <%= f.submit "Sign up", :class => "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    Already a member? <%= link_to "Login", new_user_session_path %>
  </div>
</div>
