<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Provider Login</h3>
  </div>

  <div class="panel-body text-center providers-login">
    <a href="<%= omniauth_authorize_path(:user, :facebook) %>" class="btn btn-primary btn-lg btn-block">
      <i class="fa fa-facebook"></i>
      Login with Facebook
    </a>
    <a href="<%= omniauth_authorize_path(:user, :twitter) %>" class="btn btn-primary btn-lg btn-block">
      <i class="fa fa-twitter"></i>
      Login with Twitter
    </a>
  </div>
</div>
