<div class="body">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Resend Confirmation Instructions</h3>
        </div>

        <div class="panel-body">
          <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :role => "form" }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <div class="">
                <%= f.email_field :email, :class => "form-control", :placeholder => "Email Address", :autofocus => true %>
              </div>
            </div>

            <div class="form-group">
              <div class="">
                <%= f.submit "Resend confirmation instructions", :class => "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
