<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<div style="white-space: pre-wrap"><%= @options[:message] %>

-- <%= @options[:name] %>
<%= @options[:website] %>
<%= @options[:email] %>
</div>
  </body>
</html>
