<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<div style="white-space: pre-wrap"><%= @member.invite_first_name %>,

You are invited to create a new <%= @member.role.titleize %> account for a SecureMySocial <%= @account_name %> group

<a href="http://<%= @host %>/join/<%= @member.token %>">Start Here</a>

</div>
  </body>
</html>
